# MongoDB Configuration
MONGO_URI=mongodb+srv://Vyakt:icyAGXg8qzmw3MZZ@vyakt.bhewobn.mongodb.net/
GEMINI_API_KEY=AIzaSyCplECqQQjmThOnRiR3JIaHyMVAbPad04g

# Flask Configuration
FLASK_SECRET_KEY=abc123
FLASK_ENV=development
FLASK_DEBUG=True

# EmailJS (optional - can skip for now)
VITE_EMAILJS_SERVICE_ID="service_n03xd5l"
VITE_EMAILJS_TEMPLATE_ID="template_2l3gbyf"
VITE_EMAILJS_PUBLIC_KEY="D-5Lsd01NQCJIe7Zr"
ELEVENLABS_API_KEY=sk_5efe8c4f34aebcdc2284e9984e98274fe266c091818a100f

GEMINI_API_KEY=AIzaSyCaZq7uax02nGo0EsYuLN6G6FTjhFKkd84
pymongo~=4.8.0

